.noscrollbar::-webkit-scrollbar {
  display: none;
}

.transscrollbar::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}
.transscrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.transscrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
}

::selection {
  background: #fca17d;
}

.footerselection ::selection {
  background: #00ffa3;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.document-content h2 {
  margin-top: 1.25rem;
  border-bottom: 2px solid black;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.2;
}

.document-content h3 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

.document-content p {
  margin-top: 1rem;
  line-height: 1.6;
}

.document-content ol,
.document-content ul {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.document-content ol {
  list-style: decimal;
}

.document-content ul {
  list-style: disc;
}

.document-content li {
  margin-top: 0.5rem;
  line-height: 1.6;
}

.document-content a {
  text-decoration: underline;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.document-content p,
.document-content li {
  overflow-wrap: anywhere;
}
