---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../misc.css";

export interface Props {
  title: string;
  description: string;
}
const { description, title } = Astro.props;
---

<html lang="en" data-theme="mytheme">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/justice.svg" />
    <link rel="icon" type="image/x-icon" sizes="48x48" href="/favicon.ico" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://newconstitution.pages.dev/" />
    <meta property="og:image" content="/justice.png" />
    <meta property="og:site_name" content="New Constitution Project" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "The New Constitution Project",
        "alternateName": [
          "New Constitution Project",
          "NCP",
          "newconstitution.pages.dev"
        ],
        "url": "https://newconstitution.pages.dev/"
      }
    </script>
  </head>
  <body class="text-black">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
